<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
                                                                                                           crossorigin="anonymous">
    <link href="/static/styles.css" rel="stylesheet">

    {% block styles %}{% endblock %}

    <title>
      {{title}} &raquo; {{section}} &raquo; Andamento
    </title>
  </head>

  <body>
    <header class="sticky-top">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark shadow-sm">
        <a class="navbar-brand" href="/">Andamento</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                                                                                                          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>